<div class="row">
  <div class="col-sm-12">
    <%= form_for(@fire) do |f| %>
    <% if @fire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fire.errors.count, "error") %> prohibited this fire from being saved:</h2>

      <ul>
        <% @fire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Give a name to this fire' %>
    </div>

    <div class="form-group">
      <%= f.label :location, class: 'control-label' %>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <%= text_field_tag :latitude, @fire.location ?
          @fire.location.latitude : "", class: 'form-control', placeholder: 'Latitude' %>
        </div>
        <div class="col-sm-12 col-md-6">
          <%= text_field_tag :longitude, @fire.location ?
          @fire.location.longitude : "" ,class: 'form-control', placeholder: 'Longitude' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control',
      placeholder: 'Type what you know about the fire, how it started, size, etc',
      rows: '5' %>
    </div>
    <div class="form-group">
      <%= f.label :is_extinguished, class: 'control-label' %>
      <%= f.select :is_extinguished,
      options_for_select([['Still Burning', false], ['Fire is extinguished', true]],
      @fire.is_extinguished), {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Save', class: ['btn', 'btn-success'] %>
      <%= f.hidden_field :user_id %>
    </div>
    <% end %>
  </div>
</div>
