<p id="notice"><%= notice %></p>

<h1>Listing Fires</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Original area</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fires.each do |fire| %>
      <tr>
        <td><%= fire.name %></td>
        <td><%= fire.original_area %></td>
        <td><%= fire.description %></td>
        <td><%= link_to 'Show', fire %></td>
        <td><%= link_to 'Edit', edit_fire_path(fire) %></td>
        <td><%= link_to 'Destroy', fire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fire', new_fire_path %>
