<div class="container spaced">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <% if current_user %>
        <%= link_to icon('plus','Report new fire', class: 'fa-fw'), new_fire_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Reported Fires</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'layouts/notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% if @fires.empty? %>
      <p class="lead text-muted text-center">No fires reported yet</p>
      <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Reporter</th>
              <th>Is Extinguished</th>
              <th>Severity</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @fires.each do |fire| %>
            <tr>
              <td><%= fire.name %></td>
              <td><%= fire.location.latitude.to_s.concat(', ').concat(fire.location.longitude.to_s) %></td>
              <td><%= fire.user.name %></td>
              <td>
                <% if fire.is_extinguished %>
                <span class="text-success"><i class="fa fa-check"></i></span>
                <% else %>
                <span class="text-danger"><i class="fa fa-times"></i></span>
                <% end %>
              </td>
              <td><%= severity_label fire.severity_level %></td>
              <td><%= link_to icon('eye'), fire, class: 'text-info' %></td>
              <% if current_user %>
              <td><%= link_to icon('pencil'), edit_fire_path(fire), class: 'text-muted' %></td>
              <td><%= link_to icon('times'), fire, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @fires %>
    </div>
  </div>
</div>
