<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <%= form_for(@incident) do |f| %>
    <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
        <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :incident_type_id, class: 'control-label' %>
      <%=f.collection_select :incident_type_id, IncidentType.all, :id, :name, {}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :action_taken, class: 'control-label' %>
      <%= f.text_field :action_taken, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :location, class: 'control-label' %>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <%= text_field_tag :latitude, @incident.location ? @incident.location.latitude : "", class: 'form-control', placeholder: 'Latitude' %>
        </div>
        <div class="col-sm-12 col-md-6">
          <%= text_field_tag :longitude, @incident.location ? @incident.location.longitude : "" ,class: 'form-control', placeholder: 'Longitude' %>
        </div>
      </div>

    </div>
    <div class="form-group">
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="checkbox">
     <label>
      <%= f.check_box :open %> Is Open?
     </label>
   </div>
    <div class="form-group">
      <%= f.submit 'Save', class: ['btn', 'btn-success'] %>
      <%= f.hidden_field :user_id %>
    </div>
    <% end %>

  </div>
</div>
