<p id="notice"><%= notice %></p>

<p>
  <strong>Incident type:</strong>
  <%= @incident.incident_type %>
</p>

<p>
  <strong>Action taken:</strong>
  <%= @incident.action_taken %>
</p>

<p>
  <strong>Location:</strong>
  <%= @incident.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @incident.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Open:</strong>
  <%= @incident.open %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
