<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Resend unlock instructions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

        <% if not devise_error_messages!.empty? %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= devise_error_messages! %>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Resend unlock instructions", class: ['btn', 'btn-info'] %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
