<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4 spaced">
    <%= form_for(@incident_type) do |f| %>
    <% if @incident_type.errors.any? %>
    <div id="error_explanation">
      <p class="text-danger text-center"><%= pluralize(@incident_type.errors.count, "error") %> prohibited this type from being saved</p>
    </div>
    <% end %>

    <div class="form-group <%= @incident_type.errors[:name].empty? ? '' : 'has-error' %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
      <% if not @incident_type.errors[:name].empty? %>
        <% @incident_type.errors[:name].each do |message| %>
        <span class="help-block"><%= message.capitalize %></span>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit 'Save', class: ['btn', 'btn-success'] %>
    </div>
    <% end %>

  </div>
</div>
